.item{
    display: flex;
    padding: 8px 10px 8px 10px;
    align-items: center;
    justify-content: flex-start;
    border-radius: 10px;
    margin-bottom: 5px;
}
.icon{
    margin-right: 0.5rem;
    margin-top: 6px;
}